




<mdb-navbar SideClass="navbar navbar-1 navbar-light white" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><div class="navbar-brand" [ngStyle]="{'background-image':'url(' + imgSrc + ')'}"></div></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Logout</a>
          </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->