

div {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 25px;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}